<h2>
  <div class="div-titulo">
    <label value="Título">Lista de Mensagens</label>
  </div>
</h2>

<button mat-mini-fab [routerLink]="'/mensagem/cadastro'"
        matTooltip="Enviar mensagem"
        matTooltipPosition="below" color="primary">
  <!--Para outros ícones, procure em: https://material.io/icons/ -->
  <i class="material-icons">add</i>
</button>
<br><br>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Coluna Login -->
    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef>login</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.login}} </mat-cell>
    </ng-container>

    <!-- Coluna Conteúdo -->
    <ng-container matColumnDef="conteudo">
      <mat-header-cell *matHeaderCellDef>Conteúdo</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.conteudo}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
