
<h2>
  <div class="div-titulo">
    <label value="Título">Cadastro</label>
  </div>
</h2>
<div>

  <mat-card>
    <mat-card-content>
      <mat-input-container>
        <input matInput [(ngModel)]="usuario.nome" name="nome" autocomplete="off" placeholder="Nome do Usuário"/>

        <input matInput [(ngModel)]="usuario.email" name="email" autocomplete="off" placeholder="Email"/>

        <input matInput [(ngModel)]="usuario.senha" name="senha" autocomplete="off" placeholder="Senha"/>
      </mat-input-container>

    </mat-card-content>
  </mat-card>


  <button mat-raised-button color="primary" (click)="cadastrarUsuario()">
    Salvar
  </button>

</div>

